* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(29, 28, 30);
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 

    background-color: rgb(48, 44, 52);
    position: fixed;
    width: 100%;
    max-width: 100%; 
    top: 0;
    left: 0;
    z-index: 1000;
    height: 50px;
}

nav img {
    max-width: 100%;
    max-height: 50px;
    margin: 0px 30px;
}

nav button {
    border: 0px solid rgb(255, 255, 255, 0);
    background-color: rgb(255, 255, 255, 0);
    color: rgb(251, 243, 255);
    border-radius: 25px;
    padding: 0px 15px;
    cursor: pointer;
    font-size: 20px;
}

#wrapper {
    margin: 80px 0px 0px 0px;
    border-radius: 12px;
    width: 100%;
    max-width: 100%; 
}

main {
    width: 61.7%;
    float: left;
}

aside {
    width: 36.17%;
    float: right;
}

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 

    background-color: rgb(48, 44, 52);
    text-align: center;
    margin: auto;
    line-height: 50px;
    width: 95%;
    max-width: 95%; 
    height: 50px;
    border-radius: 25px;
}

footer button {
    border: 0px solid rgb(255, 255, 255, 0);
    background-color: rgb(255, 255, 255, 0);
    color: rgb(214, 204, 218);
    border-radius: 25px;
    padding: 0px 15px;
    margin: auto 30px;
    cursor: pointer;
    font-size: 20px;
}
.center-div {
    text-align: center;
}

h1, h2, h3, h4, p, li {
    color: rgb(251, 243, 255);
}

ul li {
    margin-bottom: 5px;
}

a {
    color: rgb(245, 225, 255);
}

.infobox {
    border: rgb(80, 65, 95) 5px solid;
    background-color: rgb(48, 44, 52);
    border-radius: 25px; 
    overflow: hidden;
    padding: 10px 20px;
}

.eighty-wrap {
    max-width: 80%;
    width: 80%; 
    margin: auto;
    overflow: hidden;
}

.seventy-five-wrap {
    max-width: 75%;
    width: 75%; 
    margin: auto;
    overflow: hidden;
}

.seventy-wrap {
    max-width: 70%;
    width: 70%; 
    margin: auto;
    overflow: hidden;
}

.five-break {
    height: 5px;
}

.ten-break {
    height: 10px;
}

.twenty-break {
    height: 20px;
}

.fifty-break {
    height: 50px;
}