* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    /*background-image: url("assets/Background.png");
    background-size: 100%;*/
    background-color: rgb(54, 60, 61);
}
div#wrapper {
    width: 80%;
    margin: 5% auto 0 auto;
    background-color: rgb(216, 232, 232);
    padding: 3%;
    border-radius: 12px;
}
div.head {
    text-align: center;
}
div.part1 {
    border: rgba(0, 0, 0, 0.9) 10px solid;
    border-radius: 10px;
}
div.part2 {
    border: rgba(0, 0, 0, 0.5) 10px solid;
}
div.part1, .part2 {
    margin: 0 auto 0 auto;
}
h1, h2, h3, p, ul {
    color: rgb(0, 59, 68);
    margin-left: 2%;
}
li {
    margin-bottom: 1%;
}